{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>Pools of {{ server.name }}</h2>
        <hr/>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="mid-td" style="width: 25%">Location</th>
                <th class="mid-td" style="width: 18%">Description</th>
                <th class="mid-td" style="width: 35%">Members</th>
                <th class="mid-td" style="width: 22%">OP</th>
            </tr>
            </thead>
            <tbody>
            {% for pool in pools %}
                <tr>
                    <td class="mid-td">
                        {{ pool.location }}
                    </td>
                    <td class="mid-td">
                        {{ pool.description or 'No Description' }}
                    </td>

                    <td class="mid-td">
                        {{ pool.member_info or 'No Member' }}
                    </td>

                    <td class="mid-td">
                        <a class="btn btn-primary" type="button"
                           href='{{ url_for('admin.members', pool_id=pool.id) }}'>Membs</a>
                        <a class="btn btn-info" type="button"
                           href='{{ url_for('admin.edit_pool', pool_id=pool.id) }}'>Edit</a>
                        <a class="btn btn-danger" type="button"
                           href="{{ url_for('admin.del_pool', pool_id=pool.id) }}"
                           onclick='{if(confirm("Are you sure to delete?")){return true;}return false;}'>Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr>
        <table class="table" style="margin-bottom: 0px">
            <tr>
                <td class="pull-right" style="border-top: 0px">
                     <a class="btn btn-success" type="button"
                       href="{{ url_for('admin.servers') }}">Back</a>
                    &nbsp;&nbsp;
                    <a class="btn btn-primary" type="button" id="confirmall"
                       href="{{ url_for('admin.add_pool',server_id = server.id) }}">Add Pool</a>
                    </p>
                </td>
            </tr>

        </table>
    </div>

{% endblock %}
