{% extends "base.html" %}
{% block content %}
    <div class="container">
        {#        <div class="jumbotron">#}
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="mid-td" style="width: 10%">Name</th>
                <th class="mid-td" style="width: 5%">Port</th>
                <th class="mid-td" style="width: 15%">Domain</th>
                <th class="mid-td" style="width: 8%">Location</th>
                <th class="mid-td" style="width: 40%">Servers</th>
                <th class="mid-td" style="width: 22%">OP</th>
            </tr>
            </thead>
            <tbody>
            {% for pool in pools %}
                <tr>
                    <td class="mid-td">
                        {{ pool.name }}
                    </td>
                    <td class="mid-td">
                        {{ pool.port }}
                    </td>

                    <td class="mid-td">
                        {{ pool.server_name }}
                    </td>
                    <td class="mid-td">
                        {{ pool.location }}
                    </td>

                    <td class="mid-td">
                        {{ pool.members or 'No Member' }}
                    </td>


                    <td class="mid-td">

                        <a class="btn btn-info" type="button"
                           href='{{ url_for('admin.edit_pool', pool_name=pool.name) }}'>Edit</a>
                        <a class="btn btn-primary" type="button"
                           href='{{ url_for('admin.pool_members', pool_name=pool.name) }}'>Servers</a>

                        <a class="btn btn-danger" type="button"
                           href="{{ url_for('admin.del_pool', pool_name=pool.name) }}"
                           onclick='{if(confirm("Are you sure to delete?")){return true;}return false;}'>Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr>
        <table class="table" style="margin-bottom: 0px">
            <tr>

                <td class="pull-right" style="border-top: 0px">
                    <a class="btn btn-primary" type="button" id="confirmall"
                       href="{{ url_for('admin.add_pool') }}">Add Pool</a>
                    </p>
                </td>
            </tr>

        </table>
        {#        </div>#}
    </div>

{% endblock %}