{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}Software Load Balance for Nginx{% endblock %}

{% block navbar %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">SLB Admin</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for("admin.servers") }}">Pool</a></li>
                    <li><a href="{{ url_for("admin.config") }}">Config</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right nav-btn">
                    <li>
                        <button class="btn btn-success" id="Deploy">Deploy</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>



{% endblock %}

{% block content %}
{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/offcanvas.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/offcanvas.js') }}"></script>
    {{ super() }}

    <script type="text/javascript">
        $("#Deploy").click(function () {
            $("#Deploy").text("Deploying...");
            $.get("/admin/deploy")
                    .done(function (msg) {
                        $("#Deploy").text("Deploy");
                        var jsonObj = $.parseJSON(msg);
                        var errorCode = jsonObj.errorCode

                        if (errorCode == 0) {
                            alert("Deploy Success!");
                        } else {
                            alert(jsonObj.message);
                        }
                    })
                    .fail(function () {
                        $("#Deploy").text("Deploy");
                        alert("Deploy Failed!")
                    })
        });
    </script>
{% endblock %}