{% extends "base.html" %}
{% block content %}
    <div class="container">

        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>

                </div>
            </div>

            <div class="col-xs-12 col-sm-9">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-info btn-block">Preview</button>
                        </div>

                        <div class="col-md-offset-6 col-md-2">
                            <button class="btn btn-primary btn-block">Edit</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-danger btn-block">Delete</button>
                        </div>
                    </div>
                    <h2>{{ pool.name }}</h2>
                    <hr/>
                    {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}

                </div>
            </div>
        </div>

        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-member-modal">
            Launch
        </button>
        <hr>

        <footer>
            <p>&copy; DianPing 2014</p>
        </footer>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="add-member-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add Member</h4>
                </div>
                <div class="modal-body">
                    <!--{{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}-->
                    {{ nginx_config }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}